name: Build and Publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Cópiando dados da master
      uses: actions/checkout@v2

    - name: Configurando python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    
    - name: Instalando Poetry
      run: python -m pip install poetry

    - name: Instalando dependencias
      run: poetry install

    - name: Verificando lint
      run: pylint src

    - name: Realizando testes
      run: pytest --cov

    - name: Recuperando ultima versão da lib
      run: |
        VERSION=$(pip show trabalho-individual-2022-2-lameque | grep Version | awk '{print $2}')
        echo ::set-env name=VERSION::$VERSION

    - name: Incrementando versão na lib
      run: poetry version ${{ env.VERSION }}
      run: poetry version patch

    - name: Build package
      run: poetry build -v

    - name: Publicação no PyPI
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
        poetry publish --username __token__ -v
