name: Build and Publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Cópiando dados da master
      uses: actions/checkout@v2

    - name: Configurando python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Incrementando versão na lib
      run: poetry version patch

    - name: Instalando dependencias
      run: poetry install

    - name: Build package
      run: poetry build -v

    - name: Publicação no PyPI
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
        poetry publish --username __token__ -v
